# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/

# Generated solution/project files
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.slnx
*.suo
*.xcodeproj
*.xcworkspace
